* {
    box-sizing: border-box;
}

:root {
    --primary-accent: #3BB0F2;
    --white-accent: #E7E7E7;

    --black-background: #2B2B2B;
    --group-black-background: #3E3E3E;

}

body {
    background-color: var(--black-background);
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--white-accent);
    font-weight: 300;
    font-size: 1.15em;
    text-align: center;
}

.sections {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr 75px;
    align-items: center;
}

/* Header */

h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.75em;
}

p {
    margin: 0;
    font-size: 1em;
}

/* Painting area */

.painting-group {
    display: grid;
}

.group-background {
    background-color: var(--group-black-background);
}

#paint-container {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;

    display: grid;
}

.pixel {
    border: 1px solid black;
}

/* Footer */

.author-link {
    color: var(--primary-accent);
    text-decoration: none;
    font-weight: 700;
}