/* General styling */

* {
    box-sizing: border-box;
}

:root {
    --primary-accent: #3BB0F2;
    --white-accent: #E7E7E7;
    --hover-accent: #98d6fa;

    --main-background: #2B2B2B;
    --group-background: #3E3E3E;
    --input-background: #242424;
}

body {
    background-color: var(--main-background);
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--white-accent);
    font-weight: 300;
    font-size: 1.15em;
    text-align: center;
}

.sections {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr 75px;
    align-items: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.75em;
}

p {
    margin: 0;
    font-size: 1em;
}

input[type="text"] {
    background-color: var(--input-background);
    border: none;
    border-radius: 7px;
    color: var(--white-accent);
    text-align: center;
    font-size: 1em;
}

.pointer-mouse {
    transition: 200ms;
}

.pointer-mouse:hover {
    cursor: pointer;
    transition: 200ms;
}

button {
    display: block;
    padding: 0;
    border: none;
}

/* Painting area */

.painting-group {
    display: grid;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    justify-content: center;
    align-items: center;
    gap: 30px 40px;
}

.group-background {
    background-color: var(--group-background);
    border-radius: 12px;
    padding: 15px;
}

/* Tools group and buttons */

.tools {
    grid-row: 1 / 3;
}

.tool-button {
    width: 75px;
    height: 75px;

    background-color: var(--white-accent);
    border-radius: 10px;
}

/* Change this later to "Selected button" */
.tool-button:hover {
    background-color: var(--hover-accent);
    scale: 1.1;
}

.tool-button:not(:last-of-type) {
    margin-bottom: 10px;
}

/* Color group */

.colors {
    grid-column: 3;
}

.colors input {
    display: block;
}

/* Test this compatibility with other browsers */
.color-input {
    width: 125px;
    height: 125px;

    background-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-input::-webkit-color-swatch {
    border: none;
}

.hex-color-input {
    width: 125px;
    margin: 10px 0;
    padding: 10px;
}

.color-history-group {
    display: flex;
    justify-content: space-between;
}

.color-history-group div {
    background-color: white;

    width: 32px;
    height: 32px;
}

.color-input:hover {
    scale: 1.07;
}

.color-history-group div:hover {
    scale: 1.2;
}

/* Other options */

.other-options {
    grid-column: 3;
    grid-row: 2;

    align-self: start;
}

.option-button {
    width: 50px;
    height: 50px;

    margin: 0 auto;

    color: var(--white-accent);
    background: none;
}

.option-button:hover {
    scale: 1.2;
    color: var(--hover-accent);
}

.option-button:not(:last-of-type) {
    margin-bottom: 25px;
}

/* Grid size slider group */

.grid-size {
    grid-column: 2;
    grid-row: 3;
}

.grid-size-label {
    margin-bottom: 12px;
}

.grid-size-slider {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 55%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--group-background);
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    border-radius: 100%;

    background-color: var(--white-accent);

    transition: 200ms;
}

.slider::-webkit-slider-thumb:hover {
    scale: 1.2;
    background-color: var(--hover-accent);
    transition: 200ms;
}

.slider::-webkit-slider-thumb:active {
    background-color: var(--primary-accent);
}

/* Canvas */

#canvas {
    width: 500px;
    height: 500px;
    background-color: white;

    display: grid;

    grid-row: 1 / 3;
}

.pixel {
    border: 1px solid black;
}

/* Footer */

.author-link {
    color: var(--primary-accent);
    text-decoration: none;
    font-weight: 700;
}