/* General styling */

* {
    box-sizing: border-box;
    /* This property helps to avoid dragging canvas' divs and other texts*/
    user-select: none;
}

:root {
    --white-accent: #E7E7E7;

    --primary-accent: #3BB0F2;
    --hover-accent: #98d6fa;

    --main-background: #2B2B2B;
    --group-background: #3E3E3E;
    --pixel-border-accent: #b8b8b8;
}

body {
    background-color: var(--main-background);
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--white-accent);
    font-weight: 300;
    font-size: 1.15em;
    text-align: center;
}

.sections {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr 75px;
    align-items: center;
}

.header-title {
    margin: 0 auto;
    margin-top: 20px;

    width: 410px;
    height: 120px;
    background: url("../img/logos/pixel-canvas-logo.png");
}

p {
    margin: 0;
    font-size: 1em;
}

.hover-transition {
    cursor: auto;
    transition: 200ms;
}

.hover-transition:hover {
    cursor: pointer;
    transition: 200ms;
}

button {
    display: block;
    padding: 0;
    border: none;
}

/* Painting area */

.painting-group {
    display: grid;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    justify-content: center;
    align-items: center;
    gap: 30px 40px;
}

.group-background {
    background-color: var(--group-background);
    border-radius: 12px;
    padding: 15px;
}

/* Tools group and buttons */

.tools {
    grid-row: 1 / 3;
}

.tool-button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

/* Tool icons */

.tool-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    filter: brightness(10%);
}

.tool-button[data-state="selected"] .tool-icon {
    filter: brightness(95%);
}

#pencil .tool-icon {
    background: url("../img/button-icons/pencil-icon.svg");
}

#rainbow .tool-icon {
    filter: none;
    background: url("../img/button-icons/rainbow-icon.svg");
}

#rainbow[data-state="selected"] .tool-icon {
    background: url("../img/button-icons/rainbow-selected-icon.svg");
}

#shading .tool-icon {
    background: url("../img/button-icons/shading-icon.svg");
}

#eraser .tool-icon {
    background: url("../img/button-icons/eraser-icon.svg");
}

#color-picker .tool-icon {
    background: url("../img/button-icons/color-picker-icon.svg");
}

/* Change this later to "Selected button" */
.tool-button:hover,
.tool-button[data-state="selected"] {
    scale: 1.1;
}

.tool-button:hover {
    background-color: var(--hover-accent);
}

.tool-button[data-state="selected"] {
    color: var(--white-accent);
    background-color: var(--primary-accent);
    cursor: auto;
}

.tool-button:not(:last-of-type) {
    margin-bottom: 10px;
}

/* Color group */

.colors {
    grid-column: 3;
}

.colors input {
    display: block;
}

/* Test this compatibility with other browsers */
#color-input {
    width: 75px;
    height: 75px;

    background-color: rgba(0,0,0,0);
    border: none;
}

#color-input::-webkit-color-swatch-wrapper,
#color-input::-moz-color-swatch-wrapper {
    padding: 0;
}

#color-input::-webkit-color-swatch {
    border: none;
}

#color-input::-moz-color-swatch {
    border: none;
}

#color-input:hover {
    scale: 1.07;
}

.hex-color-label {
    margin-top: 12px;
    font-weight: 500;
    font-size: 0.8em;
}
/* Other options */

.other-options {
    grid-column: 3;
    grid-row: 2;

    align-self: center;
}

.option-button {
    width: 45px;
    height: 45px;

    margin: 0 auto;
}

.option-button:hover,
.option-button[data-state="selected"] {
    scale: 1.2;
    transition: 200ms;
}

#clear-canvas.option-button:hover {
    transition: 200ms;
}

#clear-canvas.option-button:active {
    scale: 1.5;
    transition: 15ms;
}

.option-button:not(:last-of-type) {
    margin-bottom: 50px;
}

/* Option icons */

#show-grid.option-icon {
    background: url("../img/button-icons/show-grid-icon.svg");
}

#show-grid.option-icon:hover {
    background: url("../img/button-icons/show-grid-hover-icon.svg");
}

#show-grid.option-icon[data-state="selected"] {
    background: url("../img/button-icons/show-grid-selected-icon.svg");
}

#clear-canvas.option-icon {
    background: url("../img/button-icons/clear-canvas-icon.svg");
    filter: grayscale() brightness(220%);
}

#clear-canvas.option-icon:hover {
    filter: none;
}

#clear-canvas.option-icon:active {
    filter: contrast(550%);
}



/* Grid size slider group */

.grid-size {
    grid-column: 2;
    grid-row: 3;
}

.grid-size-label {
    margin-bottom: 12px;
}

.grid-size-slider {
    width: 100%;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 55%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--group-background);
    outline: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    border-radius: 100%;

    background-color: var(--white-accent);

    transition: 200ms;
}

#slider::-webkit-slider-thumb:hover {
    scale: 1.2;
    background-color: var(--hover-accent);
    transition: 200ms;
}

#slider::-webkit-slider-thumb:active {
    background-color: var(--primary-accent);
}

/* Canvas */

#canvas {
    width: 500px;
    height: 500px;

    display: grid;

    grid-row: 1 / 3;
}

.pixel {
    background-color: rgb(255, 255, 255);
}

.pixel-border {
    border: 1px solid var(--pixel-border-accent);
    border-left: none;
    border-top: none;
}

/* Footer */

.author-link {
    color: var(--primary-accent);
    text-decoration: none;
    font-weight: 700;

    transition: 100ms;
}

.author-link:hover {
    color: var(--hover-accent);

    transition: 100ms;
}